<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto">
        <div class="flex flex-col items-center">
            <img src="logo.png" alt="Footer Logo" class="w-12 h-12 mb-2">
            <p class="text-lg font-semibold">formationsitweb    </p>
        </div>
        <div class="mt-4 flex flex-wrap justify-center">
            <a href="#" class="mr-4 text-gray-400 hover:text-white transition">Home</a>
            <a href="#" class="mr-4 text-gray-400 hover:text-white transition">Courses</a>
            <a href="#" class="mr-4 text-gray-400 hover:text-white transition">About</a>
            <a href="#" class="mr-4 text-gray-400 hover:text-white transition">Contact</a>
        </div>
        <div class="mt-4 text-center">
            <p>&copy; 2023 Your Website Name. All rights reserved.</p>
        </div>
    </div>
</footer>
